.container {
  display: grid;
  grid-template-columns: 16.25em 1fr;
  border-color: var(--primary-background);
}

.side-menu {
  background-color: var(--dark-blue);
  width: 100%;
  height: 100vh;
}

header {
  margin: 0.7em;
  padding-block: 1.25em;
  max-height: 6.5em;
}

.main-container {
  padding-inline: 4.125em 6em;
  width: 100%;
}
