body {
  background-color: var(--color-background);
}

.flex-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: calc(100vh - env(safe-area-inset-bottom, 100vh));
  align-items: center;

  .hero {
    min-height: 100%;
    background: url('../../assets/images/hero.png');
    background-size: cover;
    background-position: center right;
  }

  @media (width < 38em) {
    grid-template-columns: 1fr;
  }
}
