@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --font-display: 'Roboto';

  /** Default vars */
  --color-background: hsl(300, 19%, 63%);
  --primary-background: hsl(300, 19%, 63%);
  --sidebar-background: hsl(234, 8%, 23%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  /** new theme */
  --acqua-green: hsl(134, 43%, 50%);
  --sky-blue: hsl(192, 92%, 40%);
  --dark-blue: hsl(226, 42%, 20%);
  --grey-white: hsl(190, 38%, 94%);

  /** Html element vars */
  --primary-hr-color: hsl(234, 7%, 27%);
  --primary-h2-color: hsl(232, 9%, 67%);

  /** Component vars */
  --primary-tab-color: var(--grey-white);

  --tab-active-color: hsl(190, 38%, 96%);
  --tab-active-bg-color: hsl(226, 42%, 29%);
  --tab-active-bg-color-100: hsl(226, 42%, 32%);

  --tab-inactive-bg-color: var(--dark-blue);
  --tab-inactive-bg-color-600: var(--tab-active-bg-color);

  /** Utility vars */
  --text-shadow-color: hsla(0, 0%, 0%, 0.25);
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: var(--font-display);
  background-repeat: no-repeat;
  min-height: calc(100vh - env(safe-area-inset-bottom, 100vh));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
button {
  border: transparent;
}
