.main-container-home {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 0.7em;

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__table {
    max-height: 470px;
  }
}
