.card {
  width: 12em;
  height: 7em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  color: var(--grey-white);
  background-color: var(--sky-blue);
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 1.2em;
    font-weight: 400;
  }
  &__amount {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
