.tab {
  display: flex;
  align-items: center;
  padding: 0.75em 1.25em;
  gap: 1.25em;

  color: var(--primary-tab-color);
  text-shadow: 0px 4px 4px var(--text-shadow-color);

  text-decoration: none;
  transition: background-color 0.2s ease-in;

  svg {
    width: 1em;
    height: 1em;
  }
}

.tabActive {
  border-left: 3px solid;
  border-color: var(--tab-active-color);
  background-color: var(--tab-active-bg-color);
  padding-left: 1.8em; // this is the sum of .tab default + 0.6em
  text-shadow: none;

  nav {
    margin-left: 0.625em;
  }

  span {
    color: var(--tab-active-color);
  }

  svg {
    color: var(--tab-active-color);
  }
  &:hover {
    background-color: var(--tab-active-bg-color-100);
  }
}

.tabInactive {
  background-color: var(--tab-inactive-bg-color);
  &:hover {
    background-color: var(--tab-inactive-bg-color-600);
  }
}
