.sideMenu {
  width: 100%;
  display: flex;
  flex-direction: column;

  hr {
    border: 1px solid var(--primary-hr-color);
    margin-bottom: 2.1875em;
    margin-top: 0.625em;
  }

  /**
  *   Make this work for
  *   chaning routes probably
  *   using motion framer (?)
  */
  transition: padding 500ms ease;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.75em;

  h2 {
    color: var(--primary-h2-color);
    font-size: 1.25rem;
    font-weight: 500;
  }
}

nav {
  .tabsContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .navigation {
    margin-bottom: 2em;
  }
}
