.sideMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;

  h2 {
    color: #a4a6b3;
    font-size: 20px;
    font-weight: 500;
  }
}

.tabsContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.navigation {
  border-bottom: 1px solid rgba(223, 224, 235, 0.1);
  margin-bottom: 32px;
}
