.inputText {
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  label {
    color: var(--primary-label-color);
  }

  input {
    color: var(--color-white);
    padding: 0.75em 0.5em;
    background-color: var(--modal-input-color-pink);
    border-radius: 0.25em;

    min-width: 15em;
  }

  &.orangebg input {
    background-color: var(--modal-input-color-orange);
  }

  &.bluebg input {
    background-color: var(--modal-input-color-blue);
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  ::placeholder {
    color: var(--color-white);
    opacity: 1; /* Firefox */
  }
  /* Edge 12-18 */
  ::-ms-input-placeholder {
    color: var(--color-white);
  }
}
